/* Global styles*/
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrcVIT9d0c8.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: Raleway, sans-serif;
    height: 100%;
    background-image: linear-gradient(to bottom, #ffffff 0%, #dcdcdc 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

/* Navigation */
nav {
   padding-top: 20px;
   text-align: right;
}
nav a {
    padding-left: 40px;
}
nav a:last-child {
    padding-right: 20px;
}

/* Header */
header {
    text-align: center;
}

/* Main */

/* Footer */
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}
