body {
    font-family: 'Baloo 2', cursive;
    height: 100%;
    background-image: linear-gradient(to bottom, #ffffff 0%, #dcdcdc 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.grid-container {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );
}

.grid-item {
    text-align: center;
}

/* Navigation */
nav {
   padding-top: 20px;
   text-align: right;
}
nav a {
    padding-left: 40px;
}
nav a:last-child {
    padding-right: 8px;
}

/* Header */
header {
    padding-top: 60px;
    text-align: center;
}

.profile {
    border-radius: 50%;
    width: 200px;
}

/* Main */
.contact_link {  
    font-size: 80pt;
    color: #686868;
}

nav, main, header, article, footer {
    width: 600px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #686868;
}

article {
  text-align: left;
}

section {
    padding-right: 8px;
    font-size: 13pt;
}

/* Footer */
footer {
    bottom: 0;
    padding-top: 40px;
    text-align: center;
}
